# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Noman",29,29.765,True,False)

Noman 29 29.765 True False

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [3]:
print("Noman",29,29.765,True,False, sep="-")

Noman
29
29.765
True
False

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [4]:
print("Noman",29,29.765,True,False, sep="\n")

Noman
29
29.765
True
False

4) Can a python print function take no value to print???

In [5]:
#In pyhton Print function always to take value to print. without value it will no print.
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [6]:
name = "Mr.Ahmed"
age = 30
profession = "Lawyer"
year_of_bachelors = 2005
firm_name = "The Himalya Associates"
work_from = 2015
height = 5.10
weight = "70600g"
monthly_income = 200000
print(name,age,profession,year_of_bachelors,firm_name,work_from,height,weight,monthly_income,sep="\n")

Mr.Ahmed
30
Lawyer
2005
The Himalya Associates
2015
5.1
70600g
200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [8]:
year_of_bachelor= 2015
current_year=2022
years= current_year-year_of_bachelor
print("Total years in passout: ",years)

Total years in passout:  7

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [9]:
joining_year = 2015
current_year = 2022
total_year=current_year-joining_year
print("His total year of working in the 'The Himalya Associates': ",total_year)

His total year of working in the 'The Himalya Associates':  7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [13]:
salary_in_pkr = int(input("Enter Salary in PKR: "))
salary_in_dollar= salary_in_pkr*210.86
print("Your Salary in Dollar is: ","$",salary_in_dollar,)

Enter Salary in PKR: 200000
Your Salary in Dollar is:  $ 42172000.0

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [14]:
salary_in_float = float(input("Enter salary in float: "))
convert_in_integer = int(salary_in_float)
print("Salary in Integer is: ", convert_in_integer)

Enter salary in float: 22.82122328
Salary in Integer is:  22

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [18]:
weight_in_gram = int(input("Enter weight in gram: "))
weight_in_kg = weight_in_gram/1000
total_weight = int(weight_in_kg)
print("Weight in Kg: ",total_weight,"kg")

Enter weight in gram: 70600
Weight in Kg:  70 kg

11) print the year of birth of Mr. Ahmed.

In [22]:
current_age = int(input("Enter your current age: "))
year_of_birth = 2022-current_age
print("From now your year of birth is: ",year_of_birth)

Enter your current age: 37
From now your year of birth is:  1985

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [21]:
a = 100
b=6
c = a%b
print(c)


#No we cannot divide equally

4